.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (max-width: 420px) {
  body {
    margin: 0;
  }

  img {
    width: 30%;
    height: 30%;
  }

  .row {
    width: 100%;
    margin:0;
  }

  #lezioni .row>.left {
    width: 100%;
    float: none;
  }

  #lezioni .row>.right {
    width: 100%;
    float: none;
  }


  #lezioni .row>.left h3{
    margin: 0;
  }

  #lezioni .row>.right{
    margin-top: 1em;
  }

  #lezioni .row>.right h3{
    margin:0;
    
  }

  #lezioni.container {
    background-color: khaki;
    display: flex;
    flex-direction: column;
}
  

  #steps .row {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
  #steps .row>.left h3 {
    margin:0;
  }

  #steps .row>.central h3 {
    margin:0;
  }

  #steps .row>.right h3 {
    margin:0;
  }

  #steps .row>.left {
    width: 100%;
  }

  #steps .row>.central {
    width: 100%;
  }

  #steps .row>.right {
    width: 100%;
  }

  #why .row>.first {
    margin:0;
  }

  #why .row>.second {
    margin:0;
  }

  #why .row>.third {
    margin:0;
  }

  #why .row>.first h3 {
    margin:0;
  }

  #why .row>.second h3 {
    margin:0;
  }

  #why .row>.third h3{
    margin:0;
  }

  #why .row img {
    width: 15%;
    height: 15%;
  }

  #why.container {
    background-color: khaki;
  }

}